# Whatever
*.d
build/
*.vscode
*.idea
**/photoshop
cmake-build-*

**.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/Builds
**/JuceLibraryCode
